@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}
p {
  font-size: 0.925rem;
}
.h-cover{
  height: calc(100vh - 80px);
}