@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap");
@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}
p {
  font-size: 0.925rem;
}
h1,
h2,
h3,
h4 {
  font-family: "Gelasio", serif;
}
